/* #page-wrapper {
    background-color: #F1F1F1 !important;
}

.product-image {
    width: 200px !important;
    height: 100px !important;
}

#admin-slidebar .form-group {
    background-color: #fff;
    padding: 8px;
}

#admin-slidebar .form-group hr {
   margin-top: 10px; 
   margin-bottom: 10px;
}

#admin-slidebar .btn {
    width: 49%;
}

.caption {
    height: 156px;
} */

/******************** Styles Aadmin *****************/

.slide_image {
    width: 250px;
    margin-bottom: 10px;
}